*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;

}

:root{
    /* Primary */
    --BrightBlue: hsl(220, 98%, 61%);
    --CheckBackground:    
    linear-gradient(to bottom right, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);

    /* Neutral */

    /* Light Theme */

    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue-light: hsl(235, 19%, 35%);

    /* Dark Theme */

    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlue-hover: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue-hover: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);


    --border: solid 1px #3c3e53;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Container Elements */

body{
    width: 100vw;
    height: 100vh;

}

.background{
    height: 150px;
    background-image: url(images/bg-desktop-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.main-body{
    height: 100%;
    background-color: #181824;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whole-card{
    width: 90vw;
    background-color: transparent;
}

/* Heading */

.heading{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.heading img{
    height: 20px;
    width: 20px;
}

/* Heading Typography */
h1{
    font-size: 30px;
    color: var(--VeryLightGray);
    letter-spacing: 10px;
}

/* Input */
.input-field{
    margin-bottom: 1rem;
    width: 100%;
    background-color: var(--VeryDarkDesaturatedBlue);
    display: flex;
    border-radius: 3px;
    align-items: center;
    padding-left: .8rem;
}
.input-field input{
    background-color: transparent;
    padding: 1rem;
    flex-grow: 1;
    color: var(--VeryLightGrayishBlue);
}
.input-field input::placeholder{
    color: var(--VeryLightGrayishBlue);
    opacity: .5;
}
.circle{
        
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1.2px solid #3c3e53;

}

/* List */

.list{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color:var(--VeryDarkDesaturatedBlue);
}
.list .list-item{
    padding: .8rem 1rem;
    border-top: var(--border);
    color: var(--LightGrayishBlue);
    padding-left: 3rem;
    
}
.list-item p{
    position: relative;
}

.list-item p::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: -35px;
    border-radius: 50%;
    border: 1.2px solid #3c3e53;
}
.list .list-item:nth-of-type(1){
    border-top: 0;
}
.list .list-item:nth-last-of-type(1){
    border-bottom: var(--border) ;
}

/* Checked List Items */

.list-item p.checked{
    text-decoration: line-through;
}
.list-item p.checked::before{
    background: url(images/icon-check.svg), var(--CheckBackground) ;
    background-repeat: no-repeat;
    background-position: center;

}
/* .list>.filter

.whole-card>.filter */

/* Bigger Screens */
@media screen and (min-width: 726px) {

    /* Container Elements */
    .background{
        height: 200px;
    }
    .whole-card{
        width: 45vw;
    }

    /* List */

    .list .list-item{
        padding: 1rem 0 1rem 3rem;
    }


        
}
